.App {
  text-align: center;
  font-size: 1em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.word {
  cursor: pointer;
  padding: 0 1em;
}

.content {
  display: grid;
  text-align: left;
  grid-template-columns: 50% 50%;
}

.content div {
}

.content .available-words, .content .selected-words {
}

.launch {
  margin-top: 5em;
}

ul {
  list-style-type: none;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

table.game-board {
  width: 400px
}

.game-board td {
  padding: 5px;
  border: 1px solid gray
}

.game .content {
  height: 30%;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  overflow: scroll;
  border-top: 1px solid gray;
}
